

  <nav class="navbar">
    <!-- not logged in -->
    <a class="logo" href="/home">JZEL</a>
    <div class="sign_in">
      <form class="login_buttonm" action="/login" method="POST">
      <input
        class="username"
        type="username"
        name="username"
        placeholder="Enter username"
      />
      <button type="submit" class="logout-button">Logout</button>
    </form>
  </div>
    <!-- logged in -->
    <!-- <a class="logo" href="/home">JZEL</a>
   <div class="navbar_right">
    <a class="favourites" href="/favourites">Favourites</a>
    <a class="messages" href="/messages">Messages</a>
    <a class="posted_ads" href="/ads">Posted Ads</a>
    <img class="profile-picture" src="TBT" />
    <form class="logout-form" action="/logout" method="POST">
      <button type="submit" class="logout-button">Logout</button>
    </form>
  </div> -->
  </nav>

