

  <nav class="navbar">
<% if (!userId) { %>
    <!-- WHEN NOT LOGGED IN --> -->
    <div class="navbar-left">
    <a class="logo" href="/home">JZEL</a>
    <select class="dropdown" id="price-range-select" onchange="submitForm()">
      <option value="$0-$100">Choose price range</option>
      <option value="$0-$5">&lt;$5</option>
      <option value="$5-$10">$5-$10</option>
      <option value="$10-$20">$10-$20</option>
      <option value="$20-$100">&gt;$20</option>
    </select>
  </div>
    <div class="sign-in">
      <form class="login-button" action="/api/users/login/1" method="POST">
      <input
        class="username"
        type="username"
        name="username"
        placeholder="Enter username"
        required
      />
      <button type="submit" class="login-button">Login</button>
    </form>
  </div>
<% } else { %>



  <!-- WHEN LOGGED IN -->
  <div class="navbar-left">
    <a class="logo" href="/items">JZEL</a>
    <select class="dropdown" id="price-range-select" onchange="submitForm(event)">
      <option value="$0-$100">Choose price range</option>
      <option value="$0-$5">&lt;$5</option>
      <option value="$5-$10">$5-$10</option>
      <option value="$10-$20">$10-$20</option>
      <option value="$20-$100">&gt;$20</option>
    </select>
  </div>
   <div class="navbar-right">
    <a class="favourites" href="/favourites">Favourites</a>
    <a class="messages" href="/messages">Messages</a>
    <a class="posted-ads" href="/admin">Posted Ads</a>
    <a class="post-ad" href="/items/new">Add Item</a>
    <img class="profile-picture" src="TBT" />
    <form class="logout-form" action="/api/users/logout" method="POST">
      <button type="submit" class="logout-button">Logout</button>
    </form>
  </div> -->
  <%} %>
</nav>
