

    <!-- WHEN NOT LOGGED IN -->
  <nav class="navbar">
<% if (!userId) { %>
    <div class="navbar-left">
    <a class="logo" href="/home">JZEL</a>
    <select class="dropdown">
      <option value="<$5">&lt;$5</option>
      <option value="$5-$10">$5-$10</option>
      <option value="$10-$20">$10-$20</option>
      <option value=">$20">&gt;$20</option>
    </select>
    <button class="search-button" type="search">Search</button>
  </div>
    <div class="sign-in">
      <form class="login-button" action="/api/user/login/1" method="POST">
      <input
        class="username"
        type="username"
        name="username"
        placeholder="Enter username"
      />
      <button type="submit" class="login-button">Login</button>
    </form>
  </div>
<% } else { %>

  <!-- WHEN LOGGED IN -->
  <div class="navbar-left">
    <a class="logo" href="/items">JZEL</a>
    <select class="dropdown">
      <option value="<$5">&lt;$5</option>
      <option value="$5-$10">$5-$10</option>
      <option value="$10-$20">$10-$20</option>
      <option value=">$20">&gt;$20</option>
    </select>
    <button class="search-button" type="search">Search</button>
  </div>
   <div class="navbar-right">
    <a class="favourites" href="/favourites">Favourites</a>
    <a class="messages" href="/messages">Messages</a>
    <a class="posted-ads" href="/admin">Posted Ads</a>
    <a class="post-ad" href="/items/new">Post Ad</a>
    <img class="profile-picture" src="TBT" />
    <form class="logout-form" action="/api/user/logout" method="POST">
      <button type="submit" class="logout-button">Logout</button>
    </form>
  </div>
  <%} %>
</nav>
