<!DOCTYPE html>
<html>
  <head>
    <title>All Items</title>
  </head>
  <body>
    <%- include('header') %>
    <h1>All Items</h1>
    <ul>
      <% items.forEach(item => { %>
        <li>
          <%= item.name %> - <%= item.price %>
        </li>
      <% }) %>
    </ul>
  </body>
</html>
