<!DOCTYPE html>
<html>
  <head>
    <title>Product Detail</title>
  </head>
  <body>
    <h1>Product Detail</h1>
    <p>Product ID: <%= item.id %></p>
    <p>Product Name: <%= item.name %></p>
    <p>Product Description: <%= item.description %></p>
    <p>Product Price: <%= item.price %></p>
  </body>
</html>
