nav {
  background: indigo;
  height: 100px;
  a {
    color: white;
  }
  .username {
    width: 300px;
    margin: 1em;
  }
  .navbar-right {
    width: 60%;
    display: flex;
    justify-content: space-between;
  }
  .logo{
margin-right: 5em;
margin-left: 2em;
  }
}

body main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  background: white;
  padding-top: 2rem;

  .search-button {
    margin-left: 1em;
  }
}
